!!!
html
  head

    title=title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/weekly.css')
    script(src='http://a.tbcdn.cn/s/kissy/1.2.0/kissy-min.js')
    script(src='javascripts/news.js')
   body!=body

