h1= "周报表"
p Welcome to #{title}
div(class="content") abc  #{title}
form(action="weeklysystem?id=123",method="post")
    p
        span 页面名称:
        input(type="text",name="页面名称",class="csinput" )
    p
        span 需求:
        input(type="text",name="需求",class="csinput"  )
    p
        span 设计师:
        input(type="text",name="设计师",class="csinput"  )
    p
        span 线上地址:
        input(type="text",name="线上地址",class="csinput"  )
    p
        span TMS地址:
        input(type="text",name="TMS地址" ,class="csinput" )
    p
        span 难易程度:
        input(type="text",name="难易程度",class="csinput"  )
    p
        input(type="submit",name="smt",value="提交")